<!--
    Title: home.component.html
    Author: Professor Richard Krasso
    Modified by: Hannah Del Real, Jocelyn Dupuis, Kyle Hochdoefer
    Date: 02/20/2024
    Description:  FAQs Page  for BCRS.
-->


<div class="container-fluid">
  <div class="accordion " id="accordionContainer">
    <!--Account Registration Instructions-->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button  class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          Account Registration
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionContainer">
        <div class="accordion-body">
          <div class="accordion-container">
            <div class="row justify-content-center">
              <div class="col">
                <p>1. On the homepage, click the employee's button at the top right of the navbar to reveal a dropdown menu and Select "Sign in." </p>
              </div>
              <div class="col text-align">
                <img src="./assets/faq/register-home.png">
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col">
                <p>2. At the bottom left of the sign-in form, click on the "Register here" link. </p>
              </div>
              <div class="col text-align">

                <img src="./assets/faq/register-login.png">
              </div>
            </div>
            <div class="row justify-content-center">
                <div class="col">
                  <p>3. Fill out the fields for the personal information. Once all items are filled, click the "Next" button. </p>
                </div>
                <div class="col text-align">
                  <img src="./assets/faq/register-personal.png">
                </div>
            </div>
            <div class="row justify-content-center">
              <div class="col">
                <p>4. Fill out the fields for the employee credentials. Once all items are filled, click the "Next" button. </p>
              </div>
              <div class="col text-align">
                <img src="./assets/faq/register-credentials.png">
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col">
                <p>5. Select from the available security questions in the dropdown menu. Make sure you select three security questions. </p>
              </div>
              <div class="col text-align">
                <img src="./assets/faq/register-sq-question.png">
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col">
                <p>6. Provide an answer for each of the selected security questions. </p>
              </div>
              <div class="col text-align">
                <img src="./assets/faq/register-sq-answer.png">
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col">
                <p>7. Review security questions and answers and click the "submit" button. You have now registered. </p>
              </div>
              <div class="col text-align">
                <img src="./assets/faq/register-sq-submit.png">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--End Account Registration Instructions-->

    <!--Reset Password Instructions-->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"  aria-expanded="false" aria-controls="collapseTwo">
          Reset Password
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionContainer">
        <div class="accordion-body">
          <div class="accordion-container">
            <div class="row justify-content-center">
              <div class="col">
                <p>1. On the homepage, click the employee's button at the top right of the navbar to reveal a dropdown menu and Select "Sign in." </p>
              </div>
              <div class="col text-align">
                <img src="./assets/faq/register-home.png">
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col">
                <p>2. At the bottom right of the sign-in form, click on the "Forgot password" link. </p>
              </div>
              <div class="col text-align">
                <img src="./assets/faq/password-reset-signin.png">
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col">
                <p>3. Enter your associated email address and click the "submit" button.  </p>
              </div>
              <div class="col text-align">
                <img src="./assets/faq/password-reset-email.png">
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col">
                <p>4. Enter your security answers for the security questions associated with your email and click the "verify security questions" button.</p>
              </div>
              <div class="col text-align">
                <img src="./assets/faq/password-reset-sq.png">
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col">
                <p>5. Create a new password and re-enter your password to confirm. Once complete, click the submit button. Successfully, your password has been reset.</p>
              </div>
              <div class="col text-align">
                <img src="./assets/faq/password-reset.png">
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
    <!--End Reset Password Instructions-->

    <!--Request a Service Repair Instructions-->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree"  aria-expanded="false" aria-controls="collapseThree">
          Request a Service Repair
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionContainer">
        <div class="accordion-body">
          <div class="accordion-container">
            <div class="row justify-content-center">
              <div class="col">
                <p>1. On the homepage, click the person icon at the top right of the navbar to reveal a dropdown menu and Select "Create a Service Request." </p>
              </div>
              <div class="col text-align">
                <img src="./assets/faq/serv-req-home.png">
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col">
                <p>2. On the service request page, click the checkbox to select the services that are being requested.</p>
              </div>
              <div class="col text-align">
                <img src="./assets/faq/serv-req-services.png">
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col">
                <p>3. In the Parts card, enter the number amount in USD for additional parts that will be included in the service request. </p>
              </div>
              <div class="col text-align">
                <img src="./assets/faq/serv-req-parts.png">
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col">
                <p>4. In the Labor card, enter the number of hours (@50/hour) for labor that will be included in the service request. </p>
              </div>
              <div class="col text-align">
                <img src="./assets/faq/serv-req-labor.png">
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col">
                <p>5. Scroll down to the Customer information form and input the customer's name and email. </p>
              </div>
              <div class="col text-align">
                <img src="./assets/faq/serv-req-customer-info.png">
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col">
                <p>6. Once all services, fees, and customer info are added, click the "Create Service Request" button below. </p>
              </div>
              <div class="col text-align">
                <img src="./assets/faq/serv-req-submit.png">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--End Request a Service Repair Instructions-->

    <!--Invoice Summary Instructions-->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingFour">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour"  aria-expanded="false" aria-controls="collapseFour">
          Invoice Summary
        </button>
      </h2>
      <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionContainer">
        <div class="accordion-body">
          <div class="accordion-container">
            <div class="row justify-content-center">
              <div class="col">
                <p>1. After creating a new service request, you'll be directed to the invoice summary for that request. </p>
              </div>
              <div class="col text-align">
                <img src="./assets/faq/invoice.png">
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col">
                <p>2. To print the invoice, scroll down to order total and click the "print" button below.</p>
              </div>
              <div class="col text-align">
                <img src="./assets/faq/invoice-print.png">
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col">
                <p>3. Select your printer, and click print. </p>
              </div>
              <div class="col text-align">
                <img src="./assets/faq/invoice-print-confirm.png">
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col">
                <p>4. To create a new service, click the "create a new service request" at the bottom left of the invoice summary. </p>
              </div>
              <div class="col text-align">
                <img src="./assets/faq/invoice-new-serv-req.png">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--End Invoice Summary Instructions-->

    <!--User Configuration Instructions-->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingFive">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive"  aria-expanded="false" aria-controls="collapseFive">
          User Configuration (Admins Only)
        </button>
      </h2>
      <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionContainer">
        <div class="accordion-body">
          <div class="accordion-container">
            <h3>View a list of all active users</h3>
            <div class="row justify-content-center">
              <div class="col">
                <p>1. On the homepage, click the person icon at the top right of the nav bar to reveal a dropdown menu, and click on "User Configuration."</p>
              </div>
              <div class="col text-align">
                <img src="./assets/faq/user-config-home.png">
              </div>
            </div>

            <h3>Create a New User</h3>
            <div class="row">
              <div class="col">
                <p>1. On the User Configuration Page, click the "Create User" button below the table of users.</p>
              </div>
              <div class="col text-align">
                <img src="./assets/faq/user-config-create.jpg">
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p>2. Fill out all of the fields for the new user's employee credentials. Once completed, click the "Continue" button.</p>
              </div>
              <div class="col text-align">
                <img src="./assets/faq/user-config-create-formpt1.jpg">
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p>3. Fill out all of the fields for the new user's personal information. Once completed, click the "Create New User" button.</p>
              </div>
              <div class="col text-align">
                <img src="./assets/faq/user-config-create-formpt2.jpg">
              </div>
            </div>
            <h3>Update a User</h3>
            <div class="row">
              <div class="col">
                <p>1. On the User Configuration Page, click the pencil icon for the user you want to update.</p>
              </div>
              <div class="col text-align">
                <img src="./assets/faq/user-config-update-icon.jpg">
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p>2. Review the selected user's current information and update any available fields.</p>
              </div>
              <div class="col text-align">
                <img src="./assets/faq/user-config-update-user.jpg">
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p>3. After inputting changes, click the "Update User" button.</p>
              </div>
              <div class="col text-align">
                <img src="./assets/faq/user-config-update-user-submit.jpg">
              </div>
            </div>

            <h3>Delete a User</h3>
            <div class="row">
              <div class="col">
                <p>1. On the User Configuration Page, click the trash can icon for the user you want to delete.</p>
              </div>
              <div class="col text-align">
                <img src="./assets/faq/user-config-delete-user-icon.jpg">
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p>2. On the pop-up box, confirm the user you want to delete and click the "Okay" button.</p>
              </div>
              <div class="col text-align">
                <img src="./assets/faq/user-config-delete-user-confirm.jpg">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--End User Configuration Instructions-->

    <!--Purchases by Service Instructions-->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingSix">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix"  aria-expanded="false" aria-controls="collapseSix">
          Purchases by Service Graph (Admins Only)
        </button>
      </h2>
      <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionContainer">
        <div class="accordion-body">
          <div class="accordion-container">
            <div class="row justify-content-center">
              <div class="col">
                <p>1. On the homepage, click the person icon at the top right of the navbar to reveal a dropdown menu and Select "Purchases By Service Graph." </p>
              </div>
              <div class="col text-align">
                <img src="./assets/faq/pbs-graph-home.png">
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col">
                <p>2. A Pie graph should display a comparison of the number of purchases for each service.</p>
              </div>
              <div class="col text-align">
                <img src="./assets/faq/pbs-graph.png">
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col">
                <p>3. Hover over any of the pieces in the pie chart to reveal the service associated with the portion of the pie chart. </p>
              </div>
              <div class="col text-align">
                <img src="./assets/faq/pbs-graph-hover.png">
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col">
                <p>4. In the legend, click on any of the services, to exclude them from the chart. </p>
              </div>
              <div class="col text-align">
                <img src="./assets/faq/pbs-graph-remove.png">
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <!--Purchases by Service Instructions-->
  </div>
</div>