<!--
    Title: about.component.html
    Author: Professor Richard Krasso
    Modified by: Hannah Del Real, Jocelyn Dupuis, Kyle Hochdoefer
    Date: 02/12/2024
    Description:  About Page  for the BCRS.
-->

<div class="container-about">
  <h1>About us</h1>
  <div class="about-content row">
    <div class="col col-md-6 d-flex justify-content-around">
      <img src="./assets/sunil-ray-about.jpg" class="img-fluid" style="width: 500px; margin: auto;">
    </div>
    <div class="col col-md-6">
      <p>In today’s world, technology is a part of most people's daily lives. We all need our devices to operate in tip top shape because, let’s be honest, nobody wants to deal with slow or unresponsive computers. What do we do when something goes wrong, and our computer breaks down, or who can we turn to when a virus rears its ugly head? Look no further than Bob’s Computer Repair Shop (BCRS), meeting all your tech needs since 2010!  We are dedicated to delivering you fast, reliable, and effective repair services to meet all your needs. </p>
    </div>
    <p style="font-size: 30px; text-align: center; padding-top: 50px;"> Not convinced? He is what you get with BCRS services:</p>
  </div>

 <!-- Offerings container-->
 <div class="about-offering mt-5 mb-5">
  <div class="d-flex pb-3">
    <span class="material-icons">fact_check</span>
  <div>
      <h4>Complimentary Diagnostics</h4>
      <p>Our skilled technicians will perform a diagnostic exam to figure out the root of the problem, at no cost to you. We will provide you with the information you need to understand the problem and offer you repair options, including estimates on time and labor. We are confident that our team can help find and your tech issues.</p>
    </div>
  </div>
  <div class="d-flex pb-3">
    <span class="material-icons">support_agent</span>
    <div>
      <h4>Expert Service</h4>
      <p>All of our technicians are expertly trained in a variety of computer, PC, and laptop brands to handle any type of challenge that comes their way. We are dedicated to continuing to grow our expertise and experience as technology continues to evolve. Our team is ready and willing to answer any questions or concerns you may have and help to deliver only the best quality of service. </p>
    </div>
  </div>
  <div class="d-flex pb-3">
    <span class="material-icons">payments</span>
    <div>
      <h4>Delivering Quality at Low Prices</h4>
      <p>Getting your computer back on track is essential and you shouldn’t have to break the bank to do it. At BCRS, we offer a low-price guarantee on all our technology services. Any service provided by us comes with a 1-year guarantee so you can rest easy knowing that your computer or device is in good hands.  </p>
    </div>
  </div>
</div>
<!-- End Offerings container-->
<div class="about-content">
  <p>BCRS is here to provide you quality repair services and reasonable prices. We look forward to seeing you!</p>
</div>
</div>
