
/**
    Title: update-user.component.css
    Author: Professor Richard Krasso
    Modified by: Hannah Del Real
    Date: 02/15/24
    Description: CSS styling for about page BCRS update user form
*/

.update-container {
  margin: 5%;
}
.card {
  color: white;
  background-color:  #7F7E7D;
  border: dashed 5px  #EEBA35;
}

h2 {
  font-weight: 500;
  font-size: 50px;
}


h2, legend {
  color: rgb(255, 240, 146);
  text-align: center;
}

.col-12 {
  margin-left: 10%;
}

.button-home {
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  background-color: #EEBA35;
  font-family: 'Teko', sans-serif;

}

.return-btn {
  color: white;
}
.return-btn:hover {
  background-color: #EEBA35;
  color: black;
  padding: 10px;
}

