<div class="container-fluid pt-5">
  <div class=" row justify-content-center">
    <div class="update-container col-lg-6 col-md-10 col-sm-12">
      <div class="card ">

          <div class="card-title pt-5">
            <h2>Update User Information</h2>
          </div>
          <div class="m-5">
          <form [formGroup]="updateUserForm" (ngSubmit)="updateUser()">
            <fieldset class="form-group">
              <legend>Please fill out the information below</legend>

            <div class=" row d-grid form-content">
              <div class=" col-12 my-3 w-75 text">
                <label for="firstName">First Name</label>
                <input class="form-control" id="firstName" type="text" formControlName="firstName">
              </div>
              <div class=" col-12 my-3 w-75">
                <label for="lasttName">Last Name</label>
                <input id="lastName" class="form-control" type="text" formControlName="lastName">
              </div>
              <div class="col-12 my-3 mb-3 w-50 pb-3">
                <label for="role">Role</label>
                <br />
                <select name="role" id="role" ngModel class="form-select">
                  <option value="" disabled>select a role</option>
                  <option value="admin" > Admin </option>
                  <option value="standard"></option>
                </select>
                <br />
              </div>
            </div>
            </fieldset>
            <div class="row w-50 text-align mx-auto pt-3">
                <button class="btn button-home mx-auto" id="submit">UPDATE USER</button>
            </div>
          </form>
         </div>
      </div>
    </div>
  </div>
</div>

