<!--
    Title: not-found.component.html
    Author: Professor Richard Krasso
    Modified by: Hannah Del Real
    Date: 02/11/2014
    Description: 404 Error Page for BCRS
-->

<div class="container-fluid">

  <!-- Card to display image for 404 Error  -->

  <div class="card bg-transparent pt-5 pb-5">
    <div class="card-title text-align">
      <img class="img-fluid" src="./assets/not-found-bcrs.png" style="width: 800px;" />
    </div>
    <br />
    <div class="card-content text-align" >

      <button  class="btn button-home btn-lg" routerLink="/">Return home</button>

    </div>
  </div>
