<!--
    Title: home.component.html
    Author: Professor Richard Krasso
    Modified by: Hannah Del Real, Jocelyn Dupuis, Kyle Hochdoefer
    Date: 02/22/2024
    Description:  Password reset Page  for the BCRS.
-->

<div class="verify-container">
  <div class="row justify-content-center mt-5 text-center">

    <h1>Reset Password</h1>

    <div class="card col-lg-6 col-md-10 col-sm-11">

      <form class="row justify-content-center" [formGroup]="passwordResetForm" (ngSubmit)="passwordReset()">

       <div *ngIf="errorMessage">
         <div class="alert alert-danger font" role="alert">
           {{ errorMessage }}
         </div>
       </div>
       <h3>Please enter your new password</h3>

       <div class="row justify-content-center">
        <div class="col-lg-4">
          <label for="password">New Password:</label>
          <input id="password" class="form-control" type="password" formControlName="password" autocomplete="off">
         </div>
       </div>

       <div class="row justify-content-center">
        <div class="col-lg-4">
          <label for="confirmPassword">Confirm New Password:</label>
          <input id="confirmPassword" class="form-control" type="password" formControlName="confirmPassword">
         </div>
       </div>

       <div class="row justify-content-center">
        <button class="col-2 btn button-register w-50" id="submit" value="submit">SUBMIT</button>
       </div>
      </form>
    </div>
    <a class="text-underline-hover text-white" routerLink="/security/signin">Return</a>
  </div>
</div>