.verify-container{
  background-color: #403F3C;
  min-height: 800vh;
}

.card{
  background-color: #7F7E7D;
  padding: 30px;
  margin-top: 2%;
}


h1{
  color: rgb(255, 240, 154);
  margin-bottom: 1%;
}

h3{
  text-align: center;
  color: rgb(255, 253, 227);
  padding-bottom: 20px;
}

form{
  text-align: left;
  font-size: 24px;
}

label{
  margin-bottom: 1%;
  color: white;
}

input{
  margin-bottom: 10%;
  font-size: 20px;
}

.button-register {
  font-weight: 600;
  font-size: 30px;
  background-color: #EEBA35;
  font-family: 'Teko', sans-serif;
}
