<!--
    Title: contact.component.html
    Author: Jocelyn Dupuis
    Date: 02/23/2024
    Description: Contact Page for the BCRS.
-->

<div class="container-fluid">
  <div class=" mt-5 card">
    <h1 class="text-align">Contact Us</h1>
    <p class="contact-description mb-5">Please feel free to contact us in the following ways. You can call us by phone
      email, or better yet, stop by in person and let us know how we can further assist you. We look forward to hearing from you!</p>

    <!--BCRS contact information-->
    <div class="card-content row d-flex mt-4">
      <div class="col-sm-4 d-grid justify-content-center">
        <div class="text-align">
          <div class="material-icons contact-icons">
            call
          </div>

          <!--BCRS phone number-->
          <div class="text-align">
            <p><a href="tel:+18007567920">
              Toll-free: 1.800.756.7920
            </a></p>
          </div>
        </div>
        <br>

        <!--BCRS email-->
        <div class="text-align">
          <div class="material-icons contact-icons">
            mail_outline
          </div>

          <div class="text-align">
            <p><a href="mailto:bcrs_support@bellevue.edu">
              bcrs_support@bellevue.edu
            </a></p>
          </div>
        </div>
        <br>

        <!--BCRS location/address-->
        <div class="text-align">
          <div class="material-icons contact-icons">
            location_on
          </div>

          <div class="text-align">
            <p>1000 Galvin Road South</p>
            <p>Bellevue, Nebraska 68005</p>
          </div>
        </div>
      </div>

      <!--Google Maps info here-->
      <div class="map-border col-md-8 d-flex justify-content-around">
        <div class="ratio ratio-16x9">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3004.264842774506!2d-95.92073292360382!3d41.15057197133092!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8793886a86ca807f%3A0x838e857240d175eb!2sBellevue%20University!5e0!3m2!1sen!2sus!4v1706044772817!5m2!1sen!2sus" width="500" height="400" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
