.card{
  background-color: #7F7E7D;
}

h1{
  color: #EEBA35;
  margin-bottom: 1%;
}

h2{
  color: rgb(255, 240, 154);
  margin-top: 1%;
  margin-bottom: 2%;
}

form{
  text-align: left;
  font-size: 24px;
}

label{
  margin-bottom: 1%;
  color: white;
}

input{
  margin-bottom: 10%;
  font-size: 20px;
}

.button-register {
  font-weight: 600;
  font-size: 30px;
  background-color: #EEBA35;
  font-family: 'Teko', sans-serif;
  width: 30%;
  margin-bottom: 5%;
}
