/**
    Title: nav.component.css
    Author: Professor Richard Krasso
    Modified by: Hannah Del Real, Jocelyn Dupuis, Kyle Hochdoefer
    Date: 02/20/24
    Description: CSS styling for registration page BCRS
    Sources: Styling for Progress bar was obtained and modified from Dev Recipes: https://devrecipes.net/step-progres-bar-with-pure-css/
*/

.config-container {
  background-color:  #403F3C;
  min-height: 100vh;
}
.card{
  background-color: #7F7E7D;
  padding: 30px;
}

h1{
  color: rgb(255, 240, 154);
  margin-bottom: 1%;
}

h2{
  color: rgb(255, 240, 154);
  margin-top: 1%;
  margin-bottom: 2%;
}

form{
  text-align: left;
  font-size: 24px;
}

label{
  margin-bottom: 1%;
  color: white;
}

input{
  margin-bottom: 10%;
  font-size: 20px;
}

.button-register {
  font-weight: 600;
  font-size: 30px;
  background-color: #EEBA35;
  font-family: 'Teko', sans-serif;
}


.button-back {
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  font-family: 'Teko', sans-serif;

}

/** Progress Bar styling  */
.stepper-wrapper {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.stepper-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;

  @media (max-width: 768px) {
    font-size: 12px;
  }
}

.stepper-wrapper {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  max-width: 800px;
}
.stepper-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;

  @media (max-width: 768px) {
    font-size: 12px;
  }
}

.stepper-item::before {
  position: absolute;
  content: "";
  border-bottom: 10px solid #ccc;
  width: 100%;
  top: 15px;
  left: -50%;
  z-index: 2;
}

.stepper-item::after {
  position: absolute;
  content: "";
  border-bottom: 10px solid #ccc;
  width: 100%;
  top: 15px;
  left: 50%;
  z-index: 2;
}

.stepper-item .step-counter {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #ccc;
  margin-bottom: 6px;
}

.stepper-item.completed .step-counter {
  background-color: #EEBA35;
}

.stepper-item.done .step-counter {
  background-color: #EEBA35;
}

.stepper-item.stepper-item.completed::after{
  position: absolute;
  content: "";
  border-bottom: 10px solid #EEBA35;
  width: 100%;
  top: 15px;
  left: 50%;
  z-index: 3;
}

.stepper-item:first-child::before {
  content: none;
}
.stepper-item:last-child::after {
  content: none;
}

.step-name {
  color: rgb(249, 255, 240);
  font-size: 22px;
  text-align: center;
  font-weight: 600;
  font-family: 'Teko', sans-serif;
}