<!--
    Title: directory.component.html
    Author: Professor Richard Krasso
    Modified by: Jocelyn Dupuis
    Date: 02/19/2024
    Description: Directory Page for the BCRS
-->

<div class="container-about mt-5">
  <div class="row py-5">
    <div class="col-12 text-center">
      <!--page title-->
      <h1 class="mb-2 h1 font-weight-bold">Employee Directory</h1>

      <!--directory description-->
      <p class="mb-5">Our employee directory page provides an extensive list of our companies hard-working team members.
        Get to know the individuals who work tirelessly to provide you with the best repair services possible and keep our company running smoothly day-to-day.
        If you find a team member with a particular service that you that can be of assistance to you, feel free to contact them directly with their provided email or through our contact page.
      </p>


    </div>
  </div>
</div>