/**
    Title: directory.component.css
    Author: Jocelyn Dupuis
    Date: 02/23/2024
    Description: CSS styling for employee directory page for BCRS
*/

/*styling for container*/
.container-about {
  margin: 5% 10%;
  color: rgb(255, 255, 255);
  font-size: 20px;
}

/*styling for heading 1 */
h1 {
  color: rgb(255, 240, 154);
  text-align: center;
  font-size: 60px;
  font-weight: 700;
  padding-bottom: 30px;
}

/*styling for employee directory's card*/
.directory-card {
  border: dashed rgb(241, 197, 20) 4px;
  border-radius: 10px;
}

/*styling for employee name*/
.employee-name {
  color: rgb(255, 240, 154);
}

/*styling for employee description*/
.employee-description {
  color: white;
}

/*styling for email text*/
.email-text {
  color: rgb(255, 240, 154);
}