<!--
    Title: directory.component.html
    Author: Jocelyn Dupuis
    Date: 02/19/2024
    Description: Directory Page for the BCRS
-->

<div class="container-about mt-5">
  <div class="row py-5">
    <div class="col-12 text-center">
      <!--page title-->
      <h1 class="mb-2 h1 font-weight-bold">Employee Directory</h1>

      <!--directory description-->
      <p class="mb-5">Our employee directory page provides an extensive list of our companies hard-working team members.
        Get to know the individuals who work tirelessly to provide you with the best repair services possible and keep our company running smoothly day-to-day.
        If you find a team member with a particular service that can be of assistance to you, feel free to contact them directly with their provided email or through our contact page.
      </p>



      <div class="row pt-3">

        <!--start of employee 1-->
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="directory-card p-4">
            <div class="d-flex justify-content-center align-items-center rounded-circle box-100 mx-auto">
              <img class="quick img-fluid rounded-circle" src="./assets/directory-bob.jpg" alt="directory employee" />
            </div>

            <h5 class="job-title mb-3 mt-5">Owner</h5>
            <h6 class="employee-name small text-uppercase">Bob 'Repairman Bob' Greene</h6>
            <hr>
            <p class="employee-description mb-4">Bob, or better known around here as 'Repairman Bob' has decades of experience; not to age him or anything!
              Bob's love of computers started in his 30's and never faded. He worked at IBM for many years but decided he wanted to open up his own business.
              Repairman Bob did just that in 2010 when he opened Bob's Computer Repair Shop where his passion for computers shines through daily.</p>
            <p><a href="mailto:bob@bcrs.com" class="email-text text-hover">bob@bcrs.com</a></p>
          </div>
        </div>
        <!--end of employee 1-->


        <!--start of employee 2-->
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="directory-card p-4">
            <div class="d-flex justify-content-center align-items-center rounded-circle box-100 mx-auto">
              <img class="quick img-fluid rounded-circle" src="./assets/directory-1.jpg" alt="directory employee" />
            </div>

            <h5 class="job-title mb-3 mt-5">Network Architect</h5>
            <h6 class="employee-name small text-uppercase">Amir Karam</h6>
            <hr>
            <p class="employee-description mb-4">Amir is our trusted Network Architect and loves all things tech. He designs and implements computer and
              information networks and performs network modeling, analysis, and planning. Amir's attention to detail and analytical skills ensure that
              our systems network is running smoothly and efficiently everyday so we can provide the best service to our customers.</p>
            <p><a href="mailto:amirkaram@bcrs.com" class="email-text text-hover">amirkaram@bcrs.com</a></p>
          </div>
        </div>
        <!--end of employee 2-->


        <!--start of employee 3-->
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="directory-card p-4">
            <div class="d-flex justify-content-center align-items-center rounded-circle box-100 mx-auto">
              <img class="quick img-fluid rounded-circle" src="./assets/directory-2.jpg" alt="directory employee" />
            </div>

            <h5 class="job-title mb-3 mt-5">Computer Systems Manger</h5>
            <h6 class="employee-name small text-uppercase">Che Diaz</h6>
            <hr>
            <p class="employee-descrption mb-4">Che is our Computer Systems Manager and all around systems Guru. Che's supervises our organizations'
              computer-related activities, from planning and installing, to monitoring software and hardware to meet our IT needs. They also oversee
              budget and information security and implement new technology as needed. Che is a huge asset here at BCRS.</p>
            <p><a href="mailto:chediaz@bcrs.com" class="email-text text-hover">chediaz@bcrs.com</a></p>
          </div>
        </div>
        <!--end of employee 3-->


        <!--start of employee 4-->
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="directory-card p-4">
            <div class="d-flex justify-content-center align-items-center rounded-circle box-100 mx-auto">
              <img class="quick img-fluid rounded-circle" src="./assets/directory-3.jpg" alt="directory employee" />
            </div>

            <h5 class="job-title mb-3 mt-5">QA Analyst</h5>
            <h6 class="employee-name small text-uppercase">Christopher Jackson</h6>
            <hr>
            <p class="employee-description mb-4">Meet Christopher, our Quality Assurance Analyst. Chris is responsible for testing, analyzing, and ensuring
              the quality of software, products, and systems. He is an expert in pinpointing errors or defects within software and systems, and works hands-on
              to determine how they can be resolved. Chris' meticulous attention to detail ensures our products and services meet industry standards. </p>
            <p><a href="mailto:christopherjackson@bcrs.com" class="email-text text-hover">christopherjackson@bcrs.com</a></p>
          </div>
        </div>
        <!--end of employee 4-->


        <!--start of employee 5-->
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="directory-card p-4">
            <div class="d-flex justify-content-center align-items-center rounded-circle box-100 mx-auto">
              <img class="quick img-fluid rounded-circle" src="./assets/directory-4.jpg" alt="directory employee" />
            </div>

            <h5 class="job-title mb-3 mt-5">Computer Technician</h5>
            <h6 class="employee-name small text-uppercase">Linda Belcher</h6>
            <hr>
            <p class="employee-description mb-4">Linda is our Computer Technician and overall jokester here at BCRS. She is tasked with maintaining our computer
               systems, troubleshooting errors, and repairing our company's hardware. Her incredible problem solving skills allow her to provide us with the technical
               support for our computers to ensure our business environment is running smoothly.</p>
            <p><a href="mailto:lindabelcher@bcrs.com" class="email-text text-hover">lindabelcher@bcrs.com</a></p>
          </div>
        </div>
        <!--end of employee 5-->


        <!--start of employee 6-->
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="directory-card p-4">
            <div class="d-flex justify-content-center align-items-center rounded-circle box-100 mx-auto">
              <img class="quick img-fluid rounded-circle" src="./assets/directory-5.jpg" alt="directory employee" />
            </div>

            <h5 class="job-title mb-3 mt-5">Technical Support Specialist</h5>
            <h6 class="employee-name small text-uppercase">Jane Doe</h6>
            <hr>
            <p class="employee-description mb-4">Jane is BCRS' Technical Support Specialist. She provides vital technical support identifying, investigating, and resolving
              user problems. Jane applies her knowledge to troubleshoot technical problems, find ways to increase productivity while reducing expenses, all while learning
              about new products and technologies on the market to stay abreast of current offerings.</p>
            <p><a href="mailto:jane02@bcrs.com" class="email-text text-hover">jane02@bcrs.com</a></p>
          </div>
        </div>
        <!--end of employee 6-->

      </div>

    </div>
  </div>
</div>